[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ChoiceModelR"]
	path = ChoiceModelR
	url = https://github.com/cran/ChoiceModelR
